@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente limpia y moderna */
body {
    font-family: 'Inter', sans-serif;
    background: #ffffff;
    color: #333;
}

/* Estilo suave de scroll */
* {
    scroll-behavior: smooth;
}
