/** @type {import('tailwindcss').Config} */
module.exports = {
    content: [
    "./app/**/*.{ts,tsx}",
    "./src/**/*.{ts,tsx}",
    "./pages/**/*.{ts,tsx}",
  ], theme:

{
    extend:

{
    colors:

{
    palmares:

{
    green: "#3FAE29", yellow: "#FFD600", gray: "#707B7B",
}

}
}
}
,
plugins: [],
}
;
